/* Tag Selectors */
body{
    height:100vh;
    background: linear-gradient(88deg, #6648c4, #cfcfd2, #3f2da5);
    background-size: 600% 600%;
    animation: AnimationName 3s ease infinite;
    font-family: 'Josefin Sans', sans-serif;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
header{
    margin:1% 0;
}

/* Class Selectors */
.container{
    text-align:Center;
}
.title h1{
    font-family: 'Josefin Sans';
    text-align: center;
    font-size:4rem;
    font-size:bold;
    letter-spacing: -3px;
    color:#ffd033;
    text-shadow:   1px 1px rgb(151, 151, 151);
}
.red-letter{
    color:#eb1750;
}
.body-Tic-Tac-Toe{
    display: none;
    background-color:#6648c4;
    text-align:center;
    padding:10px;
    border-radius:5%;
    display:inline-block;
}

.square{
    font-size:1px;
    color: transparent;
    margin:1px 2px;
    border-radius:10px;
    text-align:center;
    width:7rem;
    height:7rem;
    background-color:#332267;
    border:1px solid #464646;
    display:inline-block;
    position:relative;
    overflow:hidden;
}
.square:hover{
    transform:scale(1.1,1.1);
    background-color:#ccc;
    transition:0.5s;
}
.x-square:before{
    content:'\002B';
    font-weight: bolder;
    bottom:-80px;
    right:-37px;
    position:absolute;
    color:#eb1750 !important;
    font-size:13rem;
    transform:rotate(45deg);
}
.x-square-win:before{
    transition:0.5s;
    content:'\002B';
    font-weight: bolder;
    bottom:-80px;
    right:-37px;
    position:absolute;
    background-color:#27d075;
    color:#fff !important;
    font-size:13rem;
    position:absolute;
    transform:rotate(45deg);
}
.o-square-win:before{
    transition:0.5s;
    content:'\25CB';
    font-weight: bolder;
    padding:0 50px;
    top:-2rem;
    right:-3rem;
    position:absolute;
    background-color:#27d075;
    color:#fff !important;
    font-size:7rem;
    position:absolute;
    transform:rotate(45deg);
}
.o-square:before{
    content:"\25CB";
    font-weight: bolder;
    color:#ffd033;
    font-size:7rem;
    padding:0 20px;
    top:-35px;
    right:-15px;
    position:absolute;
}
.diagonal-line{
    visibility:hidden;
    display:inline-block;
    position:relative;
}
.line{
    position:relative;
    z-index:1;
    margin-top:10px;
    margin-left:6.5px;
    width:3px;
    height:94%;
    background-color:#ef3e85;
}
.circles{
    position:absolute;
    color:#ef3e85;
}
/* ID selectors */
#game-section{
}
/* Win-line position  */
.col-0-3-6{
    bottom:2.8rem;;
    right:20.1rem;
    height:260px;
}
.col-1-4-7{
    bottom:2.8rem;;
    right:12.5rem;
    height:260px;
}
.col-2-5-8{
    bottom:2.8rem;;
    right:5rem;
    height:260px;
}
.col-2-4-6{
    bottom:0rem;
    right:13rem;
    height:350px;
    transform: rotate(45deg);
}
.col-0-4-8{
    bottom:0rem;
    right:12.6rem;
    height:350px;
    transform: rotate(-45deg);
}
.col-3-4-5{
    bottom:3rem;
    right:12.6rem;
    height:260px;
    transform: rotate(90deg);
}
.col-0-1-2{
    bottom:10.5rem;
    right:12.6rem;
    height:260px;
    transform: rotate(90deg);
}

.col-6-7-8{
    top:4.5rem;
    right:12.6rem;
    height:260px;
    transform: rotate(90deg);
}
.visible{
    visibility:visible;
}
.invisible{
    visibility: hidden;
}

/* Main menu section */
.btn{
    width:250px;
    font-size:1.5rem !important;
    color:#a19e9e !important;
    font-weight:bold !important;
    color:#fff !important;
}
.btn img{
    display:inline-block;
}

.border-buttons{
    border-radius:40px !important;
}
.main-menu-button{
    padding:2% 0%;
}
/* MultiPlayer route */
.btn-multiplayer{
    background:repeating-linear-gradient(90deg,#f8578f,#f89e3a);
}
.btn-multiplayer:hover{
    transition:1s;
    color:#fff !important;
    box-shadow: 10px 10px 38px -10px #f89e3a;
}
/* Single Player route */
.btn-single-player{
    background:repeating-linear-gradient(90deg,#dc2980,#a532f3);
}
.btn-single-player:hover{
    transition:1s;
    color:#fff !important;
    box-shadow: 10px 10px 38px -10px rgba(170,30,98,1);
}
    /* Second Single Player Menu */

    .Difficulty-Title{
        text-align:center !important;
        color:#fff;
        padding:2% 0%;
    }
    button img{
    text-align:left;
    }
    .cont-but-img{
        display:inline;
        padding-right:1rem;
    }
    .clr{
        clear:both;
    }
    .img-easy{
        position:relative;
        padding:0.3rem 0.5rem 0.1rem;
        border-radius:100%;
    }
    .img-medium{
        padding:0.3rem 0.2rem 0.1rem;
        background:#fdda44;
        border-radius:100%;
        
    }
    .img-hard{
        padding:0.3rem 0.2rem 0.1rem;
        background:#e33067;  
        border-radius:100%;  
    }
    .Difficulty-Title h2{
        
    }
    span.underline-yellow{
        border-bottom:3px solid yellow;
        border-right:2px solid yellow;
        border-radius:10px;
    }

    /* Color buttons */
    .easy-color{
        background:#532cd6 !important ;
    }
    .medium-color{
        background-color:#e56433 !important;
    }
    .difficult-color{
        background-color:#2c8ab4 !important;

    }
/* Local Multiplayer route */
.btn-local-multiplayer{
    background:repeating-linear-gradient(90deg,#2cd67b,#249fee);
}
.btn-local-multiplayer:hover{
    transition:1s;
    color:#fff !important;
    box-shadow: 10px 10px 38px -10px #249fee;
}

    /* left:50%;
    display:inline-block;
    position:absolute;
    width:3px;
    background-color:#d63f90;
    height:380px;
    -webkit-transform:
    translateY(1px)
    translateX(5px)
    rotate(-45deg);