/* Tag Selectors */
body{
    height:100vh;
    background:repeating-linear-gradient(45deg,#6648c4,#3f2da5);
    font-family: 'Josefin Sans', sans-serif;
}
header{
    margin:1% 0;
}

/* Class Selectors */
.title h1{
    font-family: 'Josefin Sans';
    text-align: center;
    font-size:4rem;
    font-size:bold;
    letter-spacing: -3px;
    color:#ffd033;
    text-shadow:   1px 1px rgb(151, 151, 151);
}
.red-letter{
    color:#eb1750;
}
.body-Tic-Tac-Toe{
    background-color:#6648c4;
    text-align:center;
    padding:10px;
    border-radius:5%;
    display:inline-block;
}

.square{
    font-size:1px;
    color: transparent;
    margin:1px 2px;
    border-radius:10px;
    text-align:center;
    width:7rem;
    height:7rem;
    background-color:#332267;
    border:1px solid #464646;
    display:inline-block;
    position:relative;
    overflow:hidden;
}
.square:hover{
    transform:scale(1.1,1.1);
    background-color:#ccc;
    transition:0.5s;
}
.x-square:before{
    content:'\002B';
    font-weight: bolder;
    bottom:-80px;
    right:-37px;
    position:absolute;
    color:#eb1750 !important;
    font-size:13rem;
    transform:rotate(45deg);
}
.x-square-win:before{
    transition:0.5s;
    content:'\002B';
    font-weight: bolder;
    bottom:-80px;
    right:-37px;
    position:absolute;
    background-color:#27d075;
    color:#fff !important;
    font-size:13rem;
    position:absolute;
    transform:rotate(45deg);
}
.o-square-win:before{
    transition:0.5s;
    content:'\25CB';
    font-weight: bolder;
    padding:0 50px;
    top:-2rem;
    right:-3rem;
    position:absolute;
    background-color:#27d075;
    color:#fff !important;
    font-size:7rem;
    position:absolute;
    transform:rotate(45deg);
}
.o-square:before{
    content:"\25CB";
    font-weight: bolder;
    color:#ffd033;
    font-size:7rem;
    padding:0 20px;
    top:-35px;
    right:-15px;
    position:absolute;
}
.diagonal-line{
    visibility:hidden;
    display:inline-block;
    position:relative;
}
.line{
    position:relative;
    z-index:1;
    margin-top:10px;
    margin-left:6.5px;
    width:3px;
    height:94%;
    background-color:#ef3e85;
}
.circles{
    position:absolute;
    color:#ef3e85;
}
/* ID selectors */
#game-section{
}
/* Win-line position  */
.col-0-3-6{
    bottom:2.8rem;;
    right:20.1rem;
    height:260px;
}
.col-1-4-7{
    bottom:2.8rem;;
    right:12.5rem;
    height:260px;
}
.col-2-5-8{
    bottom:2.8rem;;
    right:5rem;
    height:260px;
}
.col-2-4-6{
    bottom:0rem;
    right:13rem;
    height:350px;
    transform: rotate(45deg);
}
.col-0-4-8{
    bottom:0rem;
    right:12.6rem;
    height:350px;
    transform: rotate(-45deg);
}
.col-3-4-5{
    bottom:3rem;
    right:12.6rem;
    height:260px;
    transform: rotate(90deg);
}
.col-0-1-2{
    bottom:10.5rem;
    right:12.6rem;
    height:260px;
    transform: rotate(90deg);
}

.col-6-7-8{
    top:4.5rem;
    right:12.6rem;
    height:260px;
    transform: rotate(90deg);
}
.visible{
    visibility:visible;
}
    /* left:50%;
    display:inline-block;
    position:absolute;
    width:3px;
    background-color:#d63f90;
    height:380px;
    -webkit-transform:
    translateY(1px)
    translateX(5px)
    rotate(-45deg);