/* Tag Selectors */
body{
    height:100vh;
    background:repeating-linear-gradient(45deg,#6648c4,#3f2da5);
    font-family: 'Josefin Sans', sans-serif;
}
header{
    margin:1% 0;
}

/* Class Selectors */
.title h1{
    font-family: 'Josefin Sans';
    text-align: center;
    font-size:4rem;
    font-size:bold;
    letter-spacing: -3px;
    color:#ffd033;
    text-shadow:   1px 1px rgb(151, 151, 151);
}
.red-letter{
    color:#eb1750;
}
.body-Tic-Tac-Toe{
    background-color:#6648c4;
    text-align:center;
    padding:10px;
    border-radius:5%;
    display:inline-block;
}

.square{
    margin:4px 2px;
    border-radius:10px;
    text-align:center;
    width:7rem;
    height:7rem;
    background-color:#332267;
    border:1px solid #464646;
    display:inline-block;
    position:relative;
}
.square:hover{
    transform:scale(1.1,1.1);
    background-color:#ccc;
    transition:0.5s;
}
.x-square:before{
    color:#eb1750;
    font-weight: bolder;
    padding:0 26px;
    left:0;
    bottom:0;
    position:absolute;
    content:"X";
    font-size:5rem;
}
.o-square:before{
    content:"O";
    font-weight: bolder;
    color:#ffd033;
    font-size:5rem;
    padding:0 26px;
    bottom:0;
    left:0;
    position:absolute;
}
/* ID selectors */
#game-section{
}
